/* main app */

body {
  background-image: url('../images/temp_background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 100%;
  }
}

/* rankings form */

.rankings-form {
  width: 100%;
  background-color: white;
  padding: 10px 0px 10px 0px;
}

/* mountain list and list items */

.mountains-list {
  margin-top: 5%;
}

.mountain-name {
  font-family: Impact, Helvetica, sans-serif;
  font-weight: bold;
}

.mountain-info{
  height: 200px;
}

.info-block {
  font-weight: bold;
  background-color: #009688;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  height: 70px;
}
